
.axis path,
.axis line {
  fill: none;
  stroke: #eee;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 11px;
}

.line-graph {
  fill: none;
  stroke: darkblue;
  stroke-width: 2px;
  shape-rendering: smooth;
}

